<div class="modal">
  <h2>Checking Out</h2>
  <div class="modal-content">
    <div class="modal-info">
      <div><b>License:</b></div>
      <div>{{ log.license }}</div>
    </div>
    <div class="modal-info">
      <div><b>Slot:</b></div>
      <div>{{ log.slot }}</div>
    </div>
    <div class="modal-info">
      <div><b>Check In:</b></div>
      <div>{{ log.checkInTimestamp | date : 'dd MMM yyyy, hh:mm:ss aa' }}</div>
    </div>
    <div class="modal-info">
      <div><b>Check Out:</b></div>
      <div>{{ currentTime | date : 'dd MMM yyyy, hh:mm:ss aa' }}</div>
    </div>
    <div class="modal-info">
      <div><b>Duration:</b></div>
      <div>{{ totalDurationInMilliseconds }}</div>
    </div>
    <div class="modal-info">
      <div><b>Fee:</b></div>
      <div>{{ fee }}</div>
    </div>
  </div>
  <div class="button-container">
    <button class="cancel-button" (click)="cancel()">Cancel</button>
    <button class="confirm-button" (click)="handleCheckout()">Check Out</button>
  </div>
</div>
