<div class="page-container">
  <h1>Parking Lot</h1>
  <div class="page-content">
    <div class="list">
      <app-slot-card 
        *ngFor="let slot of slotService.slots" 
        [slot]="slot"
        [log]="getLogForSlot(slot)"
        (checkOutOpen)="selectLog($event)"
      ></app-slot-card>
    </div>

    @if (selectedLog) {
      <app-check-out-modal [log]="selectedLog" (cancelCheckout)="deselectLog()" (checkOutComplete)="handleCheckout($event)"></app-check-out-modal>
    } @else {
      <app-add-log-form (newLog)="handleNewLog($event)"></app-add-log-form>
    }
  </div>
</div>