<form [formGroup]="addLogForm" (ngSubmit)="handleSubmit()">
  <h2>Add Parking Log</h2>
  <div class="modal-content">
    <div class="modal-info">
      <label for="license">License:</label>
      <input formControlName="license" name="license" id="license" />
    </div>
  
    <div class="modal-info">
      <label for="license">Slot:</label>
      <select formControlName="slot">
        <option *ngFor="let slot of slotService.slots" [value]="slot">{{parseSlotName(slot)}}</option>
      </select>
    </div>
  </div>

  <button class="confirm-button" type="submit" [disabled]="isButtonDisabled()">Check In</button>

  <div class="error-message" *ngIf="error.length">{{error}}</div>

</form>
